h1{
    border: solid red;
    outline-style: dashed;
    outline-width: 20px;
}


.outline1{
    outline-style: dashed;
    outline-width: thin;
    outline-color: blue;
}
.outline2{
    outline-style: double;
    outline-width: medium;
    outline-color:aquamarine
}
.outline3{
    outline-style: groove;
    outline-width: thick;
    outline-color:#ff0000;
}
.outline4{
    outline-style: ridge;
    outline-width: 1px;
    outline-color: rgb(255,0,0);
}
.outline5{
    outline-style: inset;
    outline-color: hsl(0,100%,50%);
}
.outline6{
    outline-style: outset;
}
.outline7{
    outline-style: none;
}
.outline8{
    outline-style: hidden;
}
