body{
    font-size: 100%;
}
p,ul,li{
    font-size: 1.5em;
}

a:link{
    color: red;
    text-decoration: none;
    background-color: yellow;
}

a:visited{
    color:blue;
    text-decoration: underline;
}
a:hover{
    color: hotpink;
}

a:active{
    color: blue;
}