html {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}
body {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table,
tr,
th,
td,
caption {
  border:
    1px,
    solid #eee;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}
